@charset "utf-8";
/* CSS Document */

div.qzPagination {
	text-align: center;
	font-size: 14px;
	clear:both;
}

div.qzPagination .total {
	padding-right:8px;
}

div.qzPagination span {
	line-height:25px;
	*line-height:26px;	/* ie6 ie7 */
}

div.qzPagination a {
	border: #ddd 1px solid;
	padding: 4px 8px 4px 8px;
	margin-right: 5px;
	color: #837B7B;
	text-decoration: none;
	line-height:25px;
	*line-height:26px;	/* ie6 ie7 */
}

div.qzPagination a:hover {
	border: #ddd 1px solid;
	color: #837B7B;
	background: #f2f3f5;
	text-decoration: none;
}

div.qzPagination a:active {
	border: #ddd 1px solid; 
	color: #837B7B;
	background: #f2f3f5;
	text-decoration: none;
}

div.qzPagination span.current {
	border: #ddd 1px solid;
	padding: 5px 9px 5px 9px;
	margin-right: 5px;
	font-weight: bold;
	color: #fff;
	background: #E21A3A; 
}

div.qzPagination span.disabled {
	border: #ddd 1px solid;
	padding: 4px 8px 4px 8px;
	margin-right: 5px;
	color: #837B7B;
}