@charset "utf-8";
/* 全局样式 */
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div, form>div {margin:0 auto}
div {text-align:left}
a img {border:0}
table{border-collapse:collapse; border-spacing:0}
select,input,textarea{ outline: none }
body { color: #666; text-align: center; font: 12px "微软雅黑"; background: #F2F2F2; }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#666;text-decoration:none}
a:hover { color: #bc0000; text-decoration: underline; }
a, area {blr:expression(this.onFocus=this.blur())}
:focus {-moz-outline-style: none}
.clear {clear:both;height:0; overflow:hidden; visibility:hidden;}
.hidden,.hide {display:none}
.block,.show {display:block}
.fl{float:left}
.fr{float:right}
.fline{float:left; display:inline}
.clearfix:after{clear:both;content:".";height:0;display:block;visibility:hidden}
.chgBtn{cursor:pointer}
.f12{font-size:12px}
.f12{font-size:13px}
.f14{font-size:14px}
.f12{font-size:15px}
.f16{font-size:16px}
.fwr{font-family:"微软雅黑"}
.far{font-family:Arial}
.fb{font-weight:bold}
.auto{margin-left:auto; margin-right:auto}
.cor_red{color:#bc0000}
.cor_bs,.cor_bs:hover{color:#fff}
.pr{position:relative}
.pa{position:absolute}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.lkf-box{
	display: none !important;
}
.lxb-container{
	display: none !important;
}
#lmobile{
	
	display: none !important;
}
#telLayerBox{
	display: none !important;
}
/*.headBg,.nav,.banBg,.mBomBg,.footerBg{display:none}*/

.headBg{ background:#fff; height: 96px;}
.header { width: 1050px; height: 96px; margin: 0px auto; }
.logo { float: left; margin-top: 22px; width: 558px; }
.serBox { float: left; height: 27px; width: 189px; margin-top: 33px; position: relative; background: url(../images/ser_bg.jpg) no-repeat; }
.ser_int { line-height: 15px; height: 15px; width: 146px; border-width: 0px; border-style: none; position: absolute; left: 7px; top: 6px; color: #b3b3b3; font-family: "微软雅黑"; }
.serBtn { background: url(../images/serBtn.jpg) no-repeat; height: 27px; width: 31px; border-width: 0px; border-style: none; position: absolute; top: 0px; right: 0px; cursor: pointer; }
.headR { float: right; width: 278px; padding-top: 18px; }
.headr_top { text-align: right; line-height: 28px; height: 28px; }
.headr_tel { text-align: right; }
.headr_tel span { font-size: 16px; line-height: 28px; background: url(../images/ser_tel.jpg) no-repeat left 8px; display: inline-block; height: 28px; padding-left: 24px; }
.headr_tel span b { font-size: 18px; color: #bc0000; }
.nav { line-height: 32px; background: #323131; text-align: center; height: 32px; }
.nav_a { font-size: 14px; line-height: 32px; color: #FFF; display: inline-block; padding: 0px 21px; }
.nav_a31 { font-size: 14px; line-height: 32px; color: #FFF; display: inline-block; padding: 0px 31px; }
.nav_a:hover,.nav_a31:hover,.nav_cuta { color: #FFF; text-decoration: none; background: #BC0000; }
.banBg { height: 400px; width: 100%; overflow: hidden; position: relative; }
.banBox { height: 400px; width: 1440px; margin-left: -720px; position: absolute; left: 50%; top: 0px; }
.banBox .slideBox{ width:1440px; height:400px; overflow:hidden; position:relative; }
.banBox .slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; display:none }
.banBox .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.banBox .slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.banBox .slideBox .hd ul li.on{ background:#f00; color:#fff; }
.banBox .slideBox .bd{ position:relative; height:100%; z-index:0;   }
.banBox .slideBox .bd img{ width:1440px; height:400px; display:block;  }
.banBtnL { background: url(../images/mbtn1.png) no-repeat; height: 61px; width: 36px; position: absolute; z-index: 10; left: 140px; top: 176px; cursor: pointer; }
.banBtnR { background: url(../images/mbtn2.png) no-repeat; height: 61px; width: 36px; position: absolute; z-index: 10; right: 140px; top: 176px; cursor: pointer; }
.Rlay { height: 240px; width: 44px; position: fixed; right: 10px; top: 205px; z-index: 1000; _position:absolute; }
.Rlay ul li { height: 44px; width: 44px; margin-bottom: 3px; position: relative; font-size: 14px; line-height: 44px; color: #FFF; }
.Rlay_show { background: url(../images/left_bg.png) no-repeat left top; height: 44px; width: 160px; position: absolute; right: 0px; top: 0px; display: none; }
.Rlay_show img { padding: 6px 9px 0px; float: left; }
.Rlay ul li .left_wx { padding: 0px; float: none; position: absolute; left: 22px; top: 52px; }
.mBomBg { background: #424242; height: 258px; width: 100%; overflow: hidden; position: relative; }
.footerBg { background: #222222; line-height: 34px; color: #eeeeee; height: 34px; text-align: center; }
.mBom { height: 258px; width: 1050px; margin-left: -560px; position: absolute; left: 50%; top: 0px; background: url(../images/mbomBg.jpg) no-repeat right top; padding: 0px 35px; color: #CFCFCF; }
.mbom_dl { float: left; width: 172px; margin-right: 33px; padding-top: 35px; }
.mbom_dl dl dt { line-height: 36px; height: 36px; border-bottom: 1px solid #4E4E4E; font-size: 14px; margin-bottom: 14px; }
.mbom_dl dl dt img { margin: 9px 7px 0px 0px; float: left; }
.mbom_dl dl dd { line-height: 26px; }
.mbom_a1 { color: #949494; }
.mbom_a1:hover { color: #CFCFCF; text-decoration: none; }
.mbomR { float: right; width: 220px; padding-top: 20px; }
.mbom_t1 { font-size: 16px; line-height: 22px; color: #ef772f; height: 55px; }
.mbomTxt { line-height: 24px; padding-bottom: 8px; }
.mbackTop { background: url(../images/backTop.png) no-repeat; height: 50px; width: 50px; position: fixed; z-index: 1001; right: 10px; cursor: pointer; bottom: 40px; display: none; _position:absolute; }
.main { margin: 20px auto 25px; width: 1050px; }
.mL { float: left; width: 720px; }
.mR { float: right; width: 294px; padding-top: 10px; overflow: hidden; }
.mc1_bx1 { height: 275px; padding-top: 10px; }
.mc1_bx1L { float: left; width: 345px; }
.mpub_t1 { line-height: 18px; height: 36px; }
.cor_hs { color: #8d8d8d; }
.mpub_t1name { font-size: 16px; line-height: 18px; color: #323131; height: 18px; float:left }
.mpub_tmore { line-height: 18px; background: url(../images/more_ico.jpg) no-repeat left center; float: right; height: 18px; padding-left: 18px; }
.mc1_bxlTop { height: 90px; border-bottom: 1px dotted #B6B6B6; }
.mc1_bx1p1 { line-height: 26px; float: right; width: 223px; }
.cor_black { color: #212121; }
.cor_reda { color: #D64140; }
.mc1_u1 { padding-top: 6px; }
.mc1_u1 ul li { line-height: 28px; height: 28px; }
.mc1_bx1R { float: right; width: 340px; }
.mc1_tab td { border-bottom: 2px solid #F2F2F2; line-height: 30px; height: 31px; background: #FAFAFA; padding: 0px 6px; }
.mc1_tab .mc1_th td { border-bottom: 6px solid #F2F2F2; line-height: 32px; color: #FFF; background: #676767; height: 33px; }
.mc1_bx2 { height:291px; }
.mc1_bx2 .slideBox{ width:720px; height:263px; overflow:hidden; position:relative; }
.mc1_bx2 .slideBox .hd{ height: 14px; overflow: hidden; position: absolute; right: 10px; bottom: 16px; z-index: 1; }
.mc1_bx2 .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.mc1_bx2 .slideBox .hd ul li{ float: left; margin-right: 6px; width: 14px; height: 14px; text-align: center; background: url(../images/focus_1.png); cursor: pointer; }
.mc1_bx2 .slideBox .hd ul li.on{ background: url(../images/focus_2.png) no-repeat; }
.mc1_bx2 .slideBox .bd{ position:relative; height:100%; z-index:0;   }
.mc1_bx2 .slideBox .bd img{ width:720px; height:263px; display:block;  }
.mc1_bx2 .slideBox .bd li{position:relative; width:720px; height:263px;}
.mc2_imgNmae { font-size: 16px; line-height: 46px; background: url(../images/png_1.png) repeat; text-indent: 22px; height: 46px; width: 100%; position: absolute; left: 0px; bottom: 0px; color: #FFF; }
.mc1_bx3 { height: 267px; }
.mc3_a1,.mc3_a1:hover { color: #D6D6D6; background: #757575; line-height: 14px; float: left; height: 14px; margin-top: 7px; margin-right: 7px; padding: 0px 5px; text-decoration: none; }
.mc3_a2,.mc3_a2:hover { color: #D6D6D6; background: #D64140; line-height: 14px; float: left; height: 14px; margin-top: 7px; margin-right: 7px; padding: 0px 5px; text-decoration: none; }
.mc1_bx1Ra { width: 345px; }
.mc1_bx4 { height: 155px; }
.mcban { padding: 26px 0px; clear:both }
.mrc1_u1 { width: 315px; height: 105px; }
.mrc1_u1 ul li { float: left; height: 91px; width: 93px; margin-right: 8px; overflow: hidden; }
.mrc1_u2 { height: 134px; width: 315px; overflow: hidden; }
.mrc1_u2 ul li { float: left; margin: 0px 8px 5px 0px; }
.mrc1_a1 { line-height: 28px; display: inline-block; height: 29px; width: 93px; background: #FFFFFF; text-align: center; }
.mrc1_a1:hover { color: #FFF; background: #D41313; text-decoration: none; }
.mrc1_t1 { background: #E26000 url(../images/mc1r_ico1.jpg) no-repeat 73px center; padding-left: 100px; font-size: 16px; line-height: 40px; color: #FFF; height: 40px; }
.mrc1_mv { background: #FFF; height: 216px; padding: 7px 0px 0px 7px; }
.mrc1_tx { padding-top: 36px; }
.mlc2_bx1 { height: 290px; width: 720px; margin-bottom: 34px; position: relative; }
.mlc2_txt { background: url(../images/png_1.png) repeat; line-height: 26px; padding: 12px 18px; width: 684px; color: #FFF; position: absolute; left: 0px; bottom: 0px; }
.mlc2_bx2 { height: 290px; }
.mlc2_bx2 .slideBox{ width:720px; height:290px; overflow:hidden; position:relative; }
.mlc2_bx2 .slideBox .hd{ height: 18px; overflow: hidden; position: absolute; right: 14px; bottom: 17px; z-index: 1; }
.mlc2_bx2 .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.mlc2_bx2 .slideBox .hd ul li{ float: left; margin-right: 6px; width: 18px; height: 18px; text-align: center; background: #5F5E5E; cursor: pointer; line-height: 18px; color: #FFF; opacity:0.8; filter:alpha(opacity=80) }
.mlc2_bx2 .slideBox .hd ul li.on{ background: #7D1217; }
.mlc2_bx2 .slideBox .bd{ position:relative; height:100%; z-index:0;   }
.mlc2_bx2 .slideBox .bd img{ width:720px; height:290px; display:block;  }
.mrc1_u3 { border-bottom: 1px dotted #ADADAD; width: 315px; height: 130px; }
.mrc1_u3 ul li { height: 130px; width: 138px; text-align: center; float: left; margin-right: 18px; }
.mrc1_imgMv { height: 90px; width: 138px; position: relative; margin-bottom: 10px; }
.mrc1_ico { position: absolute; left: 55px; top: 29px; }
.mrc1_u4 { height: 153px; padding-top: 10px; }
.mrc1_u4 ul li { line-height: 28px; background: url(../images/mico01.jpg) no-repeat left center; padding: 0px 0px 0px 26px; float: left; height: 28px; width: 121px; overflow: hidden; }
.mrc1_u5 { padding-top: 10px; border-top: 1px solid #DBDBDB; }
.mrc1_u5 ul li { line-height: 28px; background: url(../images/mico02.jpg) no-repeat left center; padding: 0px 2px 0px 12px; height: 28px; }
.mchg1 { background: #FFF; height: 132px; margin-top: 30px; border: 1px solid #DFDFDF; clear:both }
.mchg1 .chgBtnList { height: 29px; border-bottom: 1px solid #dfdfdf; }
.mchg1 .chgBtnList ul .chgBtn { line-height: 29px; background: #323131; float: left; color: #FFF; padding: 0px 32px; font-size: 14px; }
.mchg1 .chgBtnList ul .chgBtn.chgCutBtn { background: #BC0000; }
.mchg1 .chgConList { position: relative; padding: 21px 0px 0px 20px; width: 1007px; }
.mpub_tmore2 { position: absolute; top: -24px; right: -8px; }
.mc3_btn1 { float: left; margin-right: 26px; cursor: pointer; }
.mc3ImgBox { float: left; height: 65px; width: 915px; overflow: hidden; }
.mc3_btn2 { float: right; cursor: pointer; }
.mc3ImgBox ul li { float: left; height: 58px; width: 161px; border: 1px solid #C9C9C9; overflow: hidden; margin-right: 25px; }
.mqycon1 { height: 298px; }
.mqyc1_bx1 { background: #FFFFFF; height: 200px; padding: 38px 22px 0px; }
.mqy_btnL { margin: 64px 30px 0px 0px; float: left; cursor: pointer; }
.mqy_btnR { float: right; margin-top: 64px; cursor: pointer; }
.mqyc1_u1 { float: left; height: 182px; width: 895px; overflow: hidden; }
.mqyc1_u1 ul li { float: left; width: 148px; margin-right: 38px; display: inline; line-height: 22px; }
.mqyc1_u1 ul li img { margin-bottom: 6px; }
.mqy2L { float: left; height: 342px; width: 500px; border-right: 1px dotted #CFCFCF; padding-right: 25px; overflow: hidden; }
.mqy2_1 { background: #FFF; padding: 10px 15px 0px; height: 75px; margin-bottom: 2px; line-height: 22px; position: relative; }
.mqy2_part { line-height: 15px; color: #FFF; background: #E93A3A; text-align: center; height: 15px; width: 48px; position: absolute; top: 0px; right: 0px; }
.mqy2_t1 { font-size: 16px; line-height: 50px; font-weight: bold; height: 50px; padding-bottom: 2px; color: #323131; }
.mqy2_u1 { width: 500px; overflow: hidden; }
.mqy2_u1 ul { width: 550px; }
.mqy2_u1 ul li { margin: 0px 6px 6px 0px; float: left; }
.mqy2_a1 { line-height: 21px; background: #DEDEDE; text-align: center; display: block; height: 21px; width: 120px; }
.mqy2R { float: right; width: 500px; }
.mqy2_b1 { height: 99px; }
.mqy2_u2 ul li { line-height: 26px; height: 26px; }
.mqy3L { float: left; width: 500px; }
.mqy3R { float: right; width: 500px; }
.mqy3_bom { height: 160px; overflow: hidden; }
.mqy3_img { float: left; height: 160px; width: 216px; position: relative; }
.mqy3_name { font-size: 14px; line-height: 31px; color: #323131; background: url(../images/png_2.png) repeat; text-align: center; height: 31px; width: 100%; position: absolute; left: 0px; bottom: 0px; font-weight: bold; }
.mqy3_ul { float: right; width: 265px; }
.mqy3_ul ul li { background: url(../images/mqy_ico1.jpg) no-repeat left center; padding-left: 13px; line-height: 28px; height: 28px; }
.mqy3_ul ul li a:hover { text-decoration: none; }
.mqyc3_imgUl { background: #FFF; padding: 18px 16px 0px; height: 142px; }
.mqyc3_btn1 { margin: 45px 24px 0px 0px; float: left; cursor: pointer; }
.mqyc3_btn2 { float: right; margin-top: 45px; cursor: pointer; }
.mqyc3_pul { float: left; height: 126px; width: 394px; overflow: hidden; }
.mqyc3_pul ul li { float: left; height: 126px; width: 394px; }
.mqyc3Txt { line-height: 23px; float: right; width: 255px; padding-top: 3px; }
.mqyc3_rp { height: 95px; overflow:hidden; }
.banBg2,.banBg2 .banBox { height: 230px; }
.m2L { background: #F9F9F9; padding: 0px 25px; float: left; width: 750px; }
.m2R { float: right; width: 220px; }
.m2pos { background: url(../images/m2line1.jpg) repeat-x left 48px; height: 41px; padding-top: 9px; line-height: 38px; }
.m2name { font-size: 16px; font-weight: bold; float: left; color: #323131; line-height: 38px; height: 38px; border-bottom: 3px solid #C54040; }
.m2posR { background: url(../images/m2homeIco.jpg) no-repeat left center; padding-left: 17px; float: right; }
.m2editor1 { line-height: 24px; padding: 20px 0px; }
.m2menu { padding-bottom: 18px; }
.m2menu_a1,.m2menu_a2 { line-height: 32px; background: #D8D8D8 url(../images/m2ico1.jpg) no-repeat 198px center; display: block; height: 32px; width: 200px; padding-left: 20px; }
.m2menu_cuta1, .m2menu_a1:hover { color: #FFF; background: #BC0000 url(../images/m2ico3.jpg) no-repeat 197px center; text-decoration: none; }
.m2menu_cuta2, .m2menu_a2:hover { color: #FFF; background: #BC0000 url(../images/m2ico2.jpg) no-repeat 197px center; text-decoration: none; }
.m2menu_a3 { line-height: 31px; height: 31px; padding-left: 20px; border-bottom: 1px solid #D3D3D3; background: url(../images/m2ico4.jpg) no-repeat 197px center; display: block; }
.m2menu_cuta3, .m2menu_a3:hover { color: #bc0000; text-decoration: none; }
.m2menu ul li { margin-bottom: 8px; }
.m2menu_a2.m2menu_cuta1 {  color: #FFF; background: #BC0000 url(../images/m2ico2.jpg) no-repeat 197px center; text-decoration: none;}
.m2r_u1 ul li { height: 45px; margin-bottom: 10px; overflow: hidden; }
.m2r_u1 { padding-bottom: 16px; }
.mpub_t1name .cor_red{font-weight:bold}
.m2r_u2 { line-height: 28px; padding: 8px 0px 14px; }
.m2r_u3 { padding: 13px 0px; }
.m2r_t1 { height: 29px; border-bottom: 1px dotted #B6B6B6; }
.m2r_u4 { padding-top: 20px; }
.m2r_u4 ul li { text-align: center; width: 104px; }
.m2r_u4 ul li img { margin-bottom: 8px; }
.m2reg_t1 { line-height: 52px; height: 52px; padding-top: 14px; border-bottom: 1px dotted #D1D1D1; font-size: 16px; font-weight: bold; color: #bc0000; text-align: center; }
.m2reg_ul { padding: 34px 0px 52px; background: url(../images/m2reg_bg.jpg) no-repeat 465px 20px; font-size: 13px; }
.m2reg_ul ul li { line-height: 30px; min-height:30px; _height: 30px; margin-bottom: 10px; }
.m2reg_s1 { text-align: right; float: left; width: 150px; padding-right: 10px; }
.m2reg_int1 { line-height: 28px; padding: 0px 5px; float: left; height: 28px; width: 240px; border: 1px solid #D5D5D5; }
.m2reg_rad { position: relative; top: 2px; }
.m2reg_sel { padding: 1px; margin-right: 12px; }
.m2reg_area { line-height: 20px; padding: 5px; height: 100px; width: 500px; border: 1px solid #d5d5d5; }
.m2reg_int2 { float: left; width: 62px; margin-right: 10px; }
.m2reg_coder { float: left; margin: 3px 10px 0px 0px; }
.m2reg_a1 { color: #999; text-decoration: underline; }
.m2reg_submit { background: url(../images/m2reg_btn.jpg) no-repeat; height: 32px; width: 115px; border-width: 0px; border-style: none; cursor: pointer; }
.m2reg_ul ul .m2reg_btnBox { margin-bottom: 0px; height: 32px; padding-top: 22px; }
.m2reg_bx1 { background: #F2F2F2; padding: 20px 28px; line-height: 28px; }
.m2reg_alr { margin-top: 15px; padding-top: 12px; border-top: 1px dotted #C3C3C3; color: #131313; }
.m2reg_bx2 { line-height: 28px; padding: 20px 28px; }
.m2editor2 { line-height: 26px; padding: 38px 0px 30px; }
.m2chg1 .chgBtnList { line-height: 28px; height: 28px; border-bottom: 2px solid #B40000; }
.h28_height{ height: 28px; }
.m2chg1 .chgBtnList ul .chgBtn { color: #FFF; background: #787878; padding: 0px 33px; float: left; margin-right: 2px; }
.m2chg1 .chgBtnList ul .chgBtn.chgCutBtn { background: #B40000; }
.m2chg1 .chgConList { padding: 35px 0px 25px; }
.m2tab1 td { line-height: 20px; padding: 8px; border: 1px solid #7D7D7D; }
.m2kcList ul li { line-height: 36px; background: url(../images/m2kc_ico1.jpg) no-repeat left center; height: 36px; width: 337px; margin-left: 10px; padding-left: 13px; float: left; overflow: hidden; }
.m2chg1 .m2kcList { padding: 22px 0px 0px 22px; }
.m2imgPage ul li { display: inline; margin: 0px 18px 0px 12px; float: left; height: 190px; width: 220px; position: relative; }
.m2imgPage { padding-top: 40px; }
.m2imgPage ul li img { margin-bottom: 14px; }
.m2imgLay { background: #FFF; padding: 4px;  min-height:370px; width: 471px; border: 1px solid #747474; position: absolute; left: 230px; top: -1px; display: none; }
.m2imgLay p { line-height: 22px; padding: 0px 8px; position: relative; top: -5px; }
.m2imgIco { position: absolute; left: -8px; top: 54px; z-index: 1; background: url(../images/imgCut.png) no-repeat; height: 10px; width: 8px; }
.m2img_even .m2imgLay { left: auto; right: 230px; }
.m2img_even .m2imgIco { left: auto; right: -8px; }
.m2img_even .m2imgIco { background: url(../images/imgCut2.png) no-repeat; }
.mpage { text-align: center; padding: 15px 0px 35px; height: 27px; }
.m2per_ul { padding-top: 30px; }
.m2per_ul ul li { padding-left: 30px; float: left; width: 342px; height: 185px; padding-top: 15px; }
.m2per_ul ul li img { float: left; }
.m2per_txt { line-height: 20px; float: right; width: 210px; }
.m2per_more { padding-top: 10px; }
.m2new_ul { padding-top: 60px; }
.m2new_ul ul li { text-align: center; padding: 0px 20px 0px 30px; float: left; height: 305px; font-size: 14px; }
.m2new_ul ul li img { margin-bottom: 20px; }
.m2new_u2 { padding-bottom: 10px; }
.m2new_u2 ul li { height: 145px; padding-top: 25px; border-bottom: 1px dotted #CCC; }
.m2new_u2 ul li img { float: left; }
.m2new_u2 ul li a img { float: left; }
.m2qustion_u2s ul li { padding-top: 25px; border-bottom: 1px dotted #CCC; }
.m2qustion_u2s ul li p{ line-height: 24px; }
.m2qustion_ts { line-height: 24px; height: 24px; padding-bottom:10px; }

.m2partner_u2 { padding-bottom: 10px; }
.m2partner_u2 ul li {  clear:both; padding-top: 25px; border-bottom: 1px dotted #CCC; }
.m2partner_u2 ul li img { float: left; }
.m2partner_u2 ul li a img { float: left; }

.m2new_txt2 { float: right; width: 532px; line-height: 22px; }
.m2new_txt2asa { float: right; width: 588px; line-height: 22px; }
.m2new_t { line-height: 24px; height: 24px; }
.m2new_twed { line-height: 24px; height: 24px; padding-bottom:9px; }
.m2new_t2 { line-height: 24px; color: #aaaaaa; height: 33px; }

.m2new_u3 { padding: 22px 0px 10px; }
.m2new_u3 ul li { background: url(../images/m2ico5.jpg) no-repeat left center; padding-left: 12px; line-height: 37px; height: 37px; border-bottom: 1px dotted #CCC; }
.m2new_h2 { display: block; line-height: 28px; text-align: center; padding-top: 22px; font-size: 18px; color: #bc0000; }
.m2new_info { line-height: 40px; height: 40px; border-bottom: 1px dotted #C6C6C6; text-align: center; color: #999; }
.m2new_editor { line-height: 24px; padding: 18px 0px 35px; }
.m2new_res { height: 48px; padding-left: 275px; border-bottom: 1px dotted #C6C6C6; }
.mpage2 { line-height: 54px; height: 54px; color: #989898; }
.mpage2_a { color: #989898; }
.m2reg_ulv1 ul li .m2reg_area { height: 180px; }
.minxBox { background: url(../images/minBg.jpg) no-repeat; height: 565px; width: 1440px; margin-top: -382px; margin-left: -720px; position: absolute; left: 50%; top: 50%; text-align: center; padding-top: 200px; }
.minBody { overflow: hidden; }
.footer2Bg { background: #222222; padding: 40px 0px 30px; }
.footer2 { margin: 0px auto; width: 1050px; }
.footer2L { color: #C4C4C4; width: 888px; line-height: 24px; float: left; }
.footer2R { float: right; margin-top: 18px; }


.nxkc1 { width:726px; height:37px; clear:both; line-height:35px; border-bottom:#b40000 solid 1px;}
.nxkceq{padding-top:15px;}
.nxkc1_title { width:auto; border-bottom:#b40000 solid 2px; font-size:18px; font-weight:bold; float:left; padding:0 10px;}
.nxkc1_txt { width:726px; padding:20px 0; clear:both;}
.nxkc1_txt p {  height:30px; line-height:30px; padding:0 15px;}
.nxkc2 { line-height:30px; margin-top:20px;}
.nxkc2_kb { color:#b40000;}
.nxkc2_kb a { color:#b40000;}
.nxkc2_kb a:hover { color:#b40000;}

/* table*/
.m2editor1 table{border: 1px solid #DEDEDE;}
.m2editor1 table td{border-collapse: collapse;margin: 0;padding: 0;border: 1px solid #DEDEDE; padding-left:8px;}
.m2new_editor table{border: 1px solid #DEDEDE;}
.m2new_editor table td{border-collapse: collapse;margin: 0;padding: 0;border: 1px solid #DEDEDE; padding-left:8px;}

/*2014-09-01 CSS*/
.nav_cutLi .nav_a,.nav_hoverLi .nav_a{color: #FFF; text-decoration: none; background: #BC0000;}
.nav{position:relative; z-index:100}
.mnn_con1 a { margin: 0px 10px; line-height: 26px; white-space: nowrap; }
.mnn_con1 { position: relative; top: -10px; }
.nav ul li { float: left; position: relative; }
.navBox { margin: 0px auto; width: 1070px; padding-left: 10px; }
.subMenu { width: 100%; position: absolute; left: 0px; top: 32px; background: #FFF; padding: 8px 0px; _width: 98px; display: none; }
.nav_a2 { display: block; line-height: 30px; text-align: center; height: 30px; }
.nav_a2:hover{ color: #FFF; text-decoration: none; background: #595959; }
.nav_hoverLi .subMenu { display: block; }
.m2chg1 .chgBtnList{height:auto}
.m2chg1 .chgBtnList ul .chgBtn {margin-bottom: 2px; width:105px; padding:0; text-align:center }


.publictity1{ background:url(../images/hualing_img1.jpg) center 0 no-repeat; width:100%; height:1368px; position:relative;}
.baoming1{ position:absolute; bottom:79px; left:50%; margin-left:-137px;}
.publictity2{ background:url(../images/hualing_img2.jpg) center 0 no-repeat; width:100%; height:565px; position:relative;}

