@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	font-size:12px;
	color:#333333;
}

*:focus {
 	outline:none;
}

html{
	/* for iframe in firefox */
	overflow-x:hidden;
}

body{
	width:100%;
	behavior:url("/plugin/htc/csshover.htc");
	font-family:Arial,"宋体";
}

table{
	border-collapse:collapse;
}

ul, li, dl, dd, dt{
	list-style:none;
}

input, select{
	vertical-align:middle;
}

a{
	color:#094b9d;
	text-decoration:none;
	blr:expression(this.onFocus=this.blur());
	outline:none;
}

a:hover{
	color:#094b9d;
}

a img{
	border:0;
}

.clear{
	clear:both;
}

.black{
	color:#333333;
}

.gray{
	color:#999999;
}

.red{
	color:Red;
}

.green{
	color:Green;
}

.mid{
	vertical-align:middle;
}

.hide{
	display:none;
}

.mb20{
	margin-bottom:20px;
}