<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <!-- 会员身份 -->
  <MemberStatus>
    <data val="0">个人会员</data>
    <data val="1">代理商</data>
  </MemberStatus>

  <!-- 性别 -->
  <Sex>
    <data val="先生">先生</data>
    <data val="女士">女士</data>
  </Sex>

  <!-- 支付方式 -->
  <PayWay>
    <data val="0">支付宝</data>
  </PayWay>

  <!-- 订单状态 -->
  <OrderStatus>
    <data val="0">未支付</data>
    <data val="1">已支付</data>
  </OrderStatus>
  
  <!-- 页面形式 -->
  <PageMode>
    <data val="0">空白页</data>
    <data val="1">其他</data>
  </PageMode>

  <!-- 信息模板形式 -->
  <MsgTempMode>
    <data val="1">电子邮件</data>
    <data val="2">站内消息</data>
    <data val="3">短信</data>
  </MsgTempMode>

  <!-- 广告显示方式 -->
  <AdDisplay>
    <data val="0">图片</data>
    <data val="1">文字</data>
  </AdDisplay>

  <!-- 媒体文件类型 -->
  <MediaFileType>
    <data val="1">图片</data>
    <data val="2">视频</data>
    <data val="3">音频</data>
    <data val="4">附件</data>
  </MediaFileType>

  <!-- 位置 -->
  <Location>
    <data val="1">左上角↖</data>
    <data val="2">右上角↗</data>
    <data val="3">左下角↙</data>
    <data val="4">右下角↘</data>
  </Location>
  
  <!-- 水印位置 -->
  <WatermarkAlign>
    <data val="1">左上↖</data>
    <data val="2">左中←</data>
    <data val="3">左下↙</data>
    <data val="4">中上↑</data>
    <data val="5">中间·</data>
    <data val="6">中下↓</data>
    <data val="7">右上↗</data>
    <data val="8">右中→</data>
    <data val="9">右下↘</data>
  </WatermarkAlign>

  <!-- 文字颜色 -->
  <FontColor>
    <data val="white">白色</data>
    <data val="blue">蓝色</data>
    <data val="red">红色</data>
    <data val="green">绿色</data>
    <data val="yellow">黄色</data>
    <data val="gray">灰色</data>
    <data val="black">黑色</data>
  </FontColor>

  <!-- 文字字体 -->
  <FontFamily>
    <data val="微软雅黑">微软雅黑</data>
    <data val="黑体">黑体</data>
    <data val="宋体">宋体</data>
    <data val="楷体">楷体</data>
    <data val="隶书">隶书</data>
    <data val="Arial Black">Arial Black</data>
  </FontFamily>
</Root>